In [5]:
%load_ext sql

In [6]:
%sql postgresql://postgres@localhost:5432/ecommerce

Connecting to 'postgresql://postgres@localhost:5432/ecommerce'

In [39]:
%%sql
SELECT * FROM products WHERE title ILIKE 'Demon Slayer%';

Running query in 'postgresql://postgres@localhost:5432/ecommerce'

4 rows affected.

+--------------------------------------+--------------------------------------------------+-----------+-------------------+--------------+------------+-------+--------+----------+-------------+----------+
|                  id                  |                      title                       | publisher | parental_guidance | release_date | updated_at | price | genre  | platform |    system   | discount |
+--------------------------------------+--------------------------------------------------+-----------+-------------------+--------------+------------+-------+--------+----------+-------------+----------+
| 1b8b6646-d567-43ae-8ad3-3a1a7ad8b825 | Demon Slayer -Kimetsu no Yaiba- Sweep the Board! |    SEGA   |         12        |  2024-07-16  | 2024-09-18 | 32990 | Action |   None   | playstation |   5.0    |
| a2b5a20b-d358-45ff-9d3c-3409fd95eb84 | Demon Slayer -Kimetsu no Yaiba- Sweep the Board! |    SEGA   |         12        |  2024-07-16  | 2024-09-18 | 32990 | Action |   None   |      pc     |   5.0    |
| aeddee30-243e-44a5-8ce2-05701f81eb37 | Demon Slayer -Kimetsu no Yaiba- Sweep the Board! |    SEGA   |         12        |  2024-07-16  | 2024-09-18 | 32990 | Action |   None   |      pc     |   5.0    |
| ba7acddb-8797-4372-96c2-2bf4e9308d62 | Demon Slayer -Kimetsu no Yaiba- Sweep the Board! |    SEGA   |         12        |  2024-07-16  | 2024-09-18 | 32990 | Action |   None   |   nintendo  |   5.0    |
+--------------------------------------+--------------------------------------------------+-----------+-------------------+--------------+------------+-------+--------+----------+-------------+----------+

In [4]:
# Query para pegar os jogos mais vendidos

In [7]:
%%sql
SELECT
    p.id,
    p.title,
    p.parental_guidance,
    COUNT(oi.product_id) AS quantity
FROM
    products p
    INNER JOIN orders_items oi ON p.id = oi.product_id
GROUP BY
    p.id,
    oi.product_id
ORDER BY
    quantity DESC;

Running query in 'postgresql://postgres@localhost:5432/ecommerce'

271 rows affected.

+--------------------------------------+----------------------------------------+-------------------+----------+
|                  id                  |                 title                  | parental_guidance | quantity |
+--------------------------------------+----------------------------------------+-------------------+----------+
| 1cb0f7eb-d33e-4af6-8c5b-7260568a7981 |                 subway                 |         14        |    15    |
| 475215b6-37f4-4549-b2d9-5a148fc4013c |            StreamAnimations            |         l         |    14    |
| 1d87404b-ce78-4bea-8b0f-41d86360bb1a |                  鬪伐                  |         12        |    12    |
| 514273e9-842e-4e8d-998a-49f5e2a1c14a |                 Owner                  |         l         |    11    |
| 029b0b23-7591-41c3-a934-ce4b56a87d8f |  Tom Clancy’s Rainbow Six Extraction   |         16        |    11    |
| ca982d8b-fb11-4ee1-8a60-2c7b30d28296 |            Nolgorb's Ordeal            |         l         |    11    |
| 90f0cec1-2b88-4d3e-a6fb-a457ac1c7670 | RPG Maker MV - Winlu Spaceship Tileset |         l         |    11    |
| 9e5d9798-80be-40c2-948c-f129dfd8b053 |                 Janko                  |         10        |    11    |
| 71be5c98-7dd6-49e2-8c05-e24e7bc80a08 |  Absolute Fear -AOONI- / 最恐 -青鬼-   |         14        |    11    |
| 34050ace-ff91-4e2e-8084-087f4d44dd83 |               April 24th               |         16        |    10    |
+--------------------------------------+----------------------------------------+-------------------+----------+
Truncated to displaylimit of 10.

In [6]:
# Jogos que não foram vendidos para fazer promoção

In [7]:
%%sql
SELECT
    p.id,
    p.title,
    p.parental_guidance,
    COUNT(oi.product_id) AS quantity
FROM
    products p
    LEFT JOIN orders_items oi ON p.id = oi.product_id
WHERE
    oi.product_id IS NULL
GROUP BY
    p.id,
    oi.product_id
ORDER BY
    quantity DESC;

Running query in 'postgresql://postgres@localhost:5432/ecommerce'

28 rows affected.

+--------------------------------------+-----------------------------------------------------+-------------------+----------+
|                  id                  |                        title                        | parental_guidance | quantity |
+--------------------------------------+-----------------------------------------------------+-------------------+----------+
| 08c1c477-c52e-4a86-9acb-3369dfdb0ece |         Lord of the Click: Interstellar Wars        |         l         |    0     |
| 0c2169bd-1aba-41c6-b68f-37be246368fc |                Perfect Ninja Painter                |         l         |    0     |
| 1aa20074-825f-4832-97ce-e7ff1ee356ee |                   3D PUZZLE - PORT                  |         l         |    0     |
| 2bfb91b2-e85b-4b91-ad38-38ab841a8536 |                        Janko                        |         10        |    0     |
| 2e8edcba-80f3-4034-84a2-f4ce4659df00 |                  Forget Something?                  |         14        |    0     |
| 350fa797-2cba-4e77-80cf-daa838832ff9 |             Game Of Evolution - Season 1            |         18        |    0     |
| 3e7589d9-67ad-4a7c-b6e7-66033418df5d |               Sophias Pizza Restaurant              |         l         |    0     |
| 442389ed-ff11-4f3b-a2a3-d971403e1c9c |                      Speakeasy                      |         18        |    0     |
| 5b2a582e-3106-4366-af85-d1bf77b705b3 |             Suicide Guy: The Lost Dreams            |         12        |    0     |
| 6278d982-b57b-4010-996c-2e0422d2ff07 | The Adventures of LinShanHai - Chapter5:Three Trees |         12        |    0     |
+--------------------------------------+-----------------------------------------------------+-------------------+----------+
Truncated to displaylimit of 10.

In [8]:
# Todos os produtos que uma pessoa já comprou

In [9]:
%%sql
SELECT
    u.id AS user_id,
    u.first_name,
    u.birth_date,
    u.gender,
    p.id AS product_id,
    p.title,
    p.parental_guidance
FROM
    users u
    INNER JOIN orders o ON u.id = o.user_id
    INNER JOIN orders_items oi ON o.id = oi.order_id
    INNER JOIN products p ON oi.product_id = p.id
WHERE
    u.id = '00c703ce-8839-497a-ad9d-d050c930dfd6';

Running query in 'postgresql://postgres@localhost:5432/ecommerce'

12 rows affected.

+--------------------------------------+------------+------------+--------+--------------------------------------+--------------------------------------+-------------------+
|               user_id                | first_name | birth_date | gender |              product_id              |                title                 | parental_guidance |
+--------------------------------------+------------+------------+--------+--------------------------------------+--------------------------------------+-------------------+
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 74a87351-66ae-489a-86af-3e8ee030acce |     摸鱼拼图/Easy Jigsaw Puzzle      |         10        |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | ab7c45d3-b46b-4a70-ae7e-f0e792381c94 |          Project Third Eye           |         12        |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 343f94a0-dd6d-4234-a77b-a10426dcd43a | Lord of the Click: Interstellar Wars |         l         |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 12fff420-b126-40cf-8d0a-53c2fc6b6182 |         Ezerath's Last Hope          |         l         |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 5a560d06-c863-49e5-a42f-bd09346727a4 |          Neko Girls Puzzle           |         12        |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 1006c54b-7c72-492f-b381-9608588c6885 |              Sweet Hut               |         18        |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | dc4d0b29-6315-4dc9-85c5-aa4da358882a |          Protect the Planet          |         l         |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 53e1eb85-574b-431f-913b-944f8b995616 |          Weather Dominance           |         l         |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 3a1f856b-44ae-414b-8aa2-f4a02afe1792 |                 鬪伐                 |         12        |
| 00c703ce-8839-497a-ad9d-d050c930dfd6 |   Isabel   | 1966-07-03 |   F    | 1a1057e6-ddf2-42ba-acf1-70a57978d466 |           Nolgorb's Ordeal           |         l         |
+--------------------------------------+------------+------------+--------+--------------------------------------+--------------------------------------+-------------------+
Truncated to displaylimit of 10.

In [10]:
# Usuário que não compraram em um determinado período ou que nunca compraram

In [12]:
%%sql
WITH last_user_order AS (
    SELECT
        DISTINCT(o.user_id) AS user_id,
        o.id AS order_id,
        MAX(o.created_at) AS last_order_date
    FROM
        orders o
    GROUP BY
        o.user_id,
        o.id
)
SELECT
    u.id,
    u.first_name,
    u.username,
    luo.order_id,
    luo.last_order_date
FROM
    users u
    LEFT JOIN last_user_order luo ON u.id = luo.user_id
WHERE
    luo.last_order_date < (NOW() - INTERVAL '2 minutes') -- Neste examplo são 3 dias mas poderia ser um periodo maior!
    OR luo.last_order_date IS NULL
ORDER BY
    luo.last_order_date;

Running query in 'postgresql://postgres@localhost:5432/ecommerce'

500 rows affected.

+--------------------------------------+----------------+-------------------------+--------------------------------------+-----------------+
|                  id                  |   first_name   |         username        |               order_id               | last_order_date |
+--------------------------------------+----------------+-------------------------+--------------------------------------+-----------------+
| e7b45a52-4271-4797-8141-6e6a431fddb1 |  Ana Vitória   |      hda-conceicao      | f6bfe48c-6ff6-4de0-8344-387bfd8066a7 |    2024-09-19   |
| 6d60eda9-0a18-4c78-9c0b-03166da4a48d |  Maria Luiza   |         brenda94        | 2a4b5303-389d-441f-aa37-120118a6f508 |    2024-09-19   |
| 5483cb1e-473f-4fc2-9e50-524e67a00f28 |    Gustavo     |        kcassiano        | 650180ea-83ab-4ec5-b1e8-6d7ad622acf7 |    2024-09-19   |
| d39aecfa-645c-485d-bb3d-79f2470503ab |    Fernanda    |    carolinefernandes    | fd612ec2-1690-4904-b3c4-04aad2ef9272 |    2024-09-19   |
| d7c5ea31-0f4c-4039-9589-0afa2baf0c6a |    Carolina    |        heloisa51        | cb0acbb2-e754-4b04-9563-eacb900ae0be |    2024-09-19   |
| 0dac1044-0ba5-4aa1-aa19-03de18f433c6 |  Ana Beatriz   |     da-rochaemanuel     | 05e59c03-b8f5-434d-acb8-c8bc872d3b7b |    2024-09-19   |
| b77b1d5b-a0de-4d89-8cdd-e898c63e080f | Carlos Eduardo |       theorezende       | 4be1fa37-a09d-47fa-a0d7-b30ee5a5d364 |    2024-09-19   |
| 25ae26f6-6f6d-4769-8d3b-a76d19593a06 |    Gustavo     |      costelamanuela     | e6b73668-fedd-4155-ba44-5a26154678a2 |    2024-09-19   |
| d671153f-3571-4ab2-a130-74e2eb403ec4 |     Lunna      |         camila84        | 1f58a6a2-3bd5-4a4c-833c-93e3a70923f9 |    2024-09-19   |
| ec2022f0-3897-46a0-835b-8d580eca5085 |     Arthur     | cavalcantiluiz-fernando | be61f53c-b62e-4d00-9359-5dc6208e58bb |    2024-09-19   |
+--------------------------------------+----------------+-------------------------+--------------------------------------+-----------------+
Truncated to displaylimit of 10.

In [12]:
## NEO4J

In [1]:
%reload_ext neo4j_cypher_query

Loading extensions from ~/.ipython/extensions is deprecated. We recommend managing extensions like any other Python packages, in site-packages.

In [28]:
%%cypher show full graph
display

In [26]:
# Produtos populares que o usuário ainda não comprou

In [4]:
%%cypher
MATCH (u:User {username: 'hda-conceicao'})-[:PURCHASED]->(purchased:Product)
WITH u, COLLECT(purchased) AS userProducts
MATCH (p:Product)<-[:PURCHASED]-(:User)
WHERE NOT p IN userProducts  // Filtra produtos que o usuário não comprou
RETURN p.title AS RecommendedProduct, COUNT(*) AS Popularity
ORDER BY Popularity DESC
LIMIT 5

                       RecommendedProduct  Popularity
0                                  subway          14
1                        StreamAnimations          13
2     Tom Clancy’s Rainbow Six Extraction          11
3  RPG Maker MV - Winlu Spaceship Tileset          11
4                     Multiplayer Turtles          10

In [ ]:
# Produtos comprados por usuários semelhantes

In [5]:
%%cypher
MATCH (u:User {username: 'hda-conceicao'})-[:PURCHASED]->(p:Product)
WITH u, COLLECT(p) AS userProducts
MATCH (otherUser:User)-[:PURCHASED]->(p:Product)
WHERE otherUser <> u AND p IN userProducts
WITH otherUser, userProducts
MATCH (otherUser)-[:PURCHASED]->(recommended:Product)
WHERE NOT recommended IN userProducts
RETURN recommended.title AS RecommendedProduct, COUNT(*) AS TimesPurchasedBySimilarUsers
ORDER BY TimesPurchasedBySimilarUsers DESC
LIMIT 5

                    RecommendedProduct  TimesPurchasedBySimilarUsers
0                               subway                            14
1                        Fenrir's fury                            13
2                     StreamAnimations                            13
3  Tom Clancy’s Rainbow Six Extraction                            12
4                                 遗忘魔塔                            11

In [ ]:
# Recomendar produtos com base em classificação indicativa

In [6]:
%%cypher
MATCH (u:User {username: 'hda-conceicao'})-[:PURCHASED]->(p:Product)
WITH u, COLLECT(p.parental_guidance) AS userGuidance
MATCH (p2:Product)
WHERE p2.parental_guidance IN userGuidance AND NOT (u)-[:PURCHASED]->(p2)
RETURN p2.title AS RecommendedProduct, p2.parental_guidance AS ParentalGuidance
LIMIT 5

                RecommendedProduct ParentalGuidance
0                Deep Sea Rhapsody               10
1            Perfect Ninja Painter                l
2  Astra And The New Constellation                l
3                    目盲/Blind - 逢夏               10
4                Idle: Multipliers                l