# Interagindo com Neo4j usando Cypher

## Usando uma magic cell para fazer consultas

In [16]:
%reload_ext neo4j_cypher_query

In [17]:
%%cypher show full graph
CREATE (n1:Pessoa {nome_completo:'Matheus Mota', primeiro_nome:'Matheus'})-[r1:DEU_LIKE]->(movie1:Filme {titulo:'Django', ano:2009})
RETURN n1,r1,movie1

Contains updates: True
Labels added: 2
Nodes created: 2
Properties set: 4
Relationships created: 1

In [11]:
%%cypher show full graph
display

In [15]:
%%cypher show full graph
CREATE (person1:Person:Teste {name:'Asdrubal'})-[r:conhece]->
       (person2:Person {name:'Marcos'}   )
return person1, person2,r

Contains updates: True
Labels added: 3
Nodes created: 2
Properties set: 2
Relationships created: 1

### Criando nós e visualizando resultado

In [9]:
%%cypher graph
CREATE (node1:TipoA {propriedade1:'valor1', propriedade2:'valor2', label:'meu primeiro nó'})       
return node1

Contains updates: True
Labels added: 1
Nodes created: 1
Properties set: 3

GraphWidget(layout=Layout(height='500px', width='100%'))

In [10]:
%%cypher
CREATE (node1:Pessoa {nome:'Fulano Silva', profissao:'Professor', label:'Prof. Fulano'})

Contains updates: True
Labels added: 1
Nodes created: 1
Properties set: 3

Empty DataFrame
Columns: []
Index: []

In [11]:
%%cypher
CREATE (node1:Pessoa {nome:'Cicrano Junior', profissao:'Engenheiro de dados', label:'Eng. Cicrano'})

Contains updates: True
Labels added: 1
Nodes created: 1
Properties set: 3

Empty DataFrame
Columns: []
Index: []

### Criando relacionamentos (Arestas)

In [12]:
%%cypher
CREATE (person1:Pessoa {nome:'Matheus Mota', label:'Matheus'})-[:DEU_LIKE]->(movie1:Filme {titulo:'Django', ano:2009, label:'Django'})

Contains updates: True
Labels added: 2
Nodes created: 2
Properties set: 5
Relationships created: 1

Empty DataFrame
Columns: []
Index: []

In [13]:
%%cypher
CREATE (person1:Pessoa {nome:'Laura Lero', label:'Laura'})-[:DEU_DESLIKE]->(movie1:Filme {titulo:'The Matrix', ano:1999, label:'Matrix'})

Contains updates: True
Labels added: 2
Nodes created: 2
Properties set: 5
Relationships created: 1

Empty DataFrame
Columns: []
Index: []

### Ligando dois nós já existentes

In [14]:
%%cypher
MATCH (node_pessoa:Pessoa), (node_filme:Filme)
WHERE  node_pessoa.nome = 'Laura Lero' AND  node_filme.titulo = 'Django'
CREATE (node_pessoa)-[r:DEU_LIKE]->(node_filme)
RETURN node_pessoa, node_filme, r

Contains updates: True
Relationships created: 3

,node_pessoa,node_filme,r
0,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
1,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
2,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django', 'label': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django', 'label': 'Django'})"

### Querying

In [15]:
%%cypher
MATCH (node_pessoa:Pessoa)-[:DEU_LIKE]->(node_filme:Filme)
RETURN node_pessoa, node_filme

,node_pessoa,node_filme
0,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
1,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
2,"{'nome': 'Matheus Mota', 'label': 'Matheus'}","{'ano': 2009, 'titulo': 'Django', 'label': 'Django'}"
3,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
4,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
5,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django', 'label': 'Django'}"

In [16]:
%%cypher
MATCH (node_pessoa:Pessoa)-[:DEU_LIKE]->(node_filme:Filme)
WHERE  node_filme.titulo = 'Django'
RETURN node_pessoa.nome as nome_usuario, node_filme.titulo

   nome_usuario node_filme.titulo
0    Laura Lero            Django
1          None            Django
2    Laura Lero            Django
3          None            Django
4    Laura Lero            Django
5  Matheus Mota            Django