# Interagindo com Neo4j usando Cypher

## Usando uma magic cell para fazer consultas

In [1]:
%reload_ext neo4j_cypher_query

Loading extensions from ~/.ipython/extensions is deprecated. We recommend managing extensions like any other Python packages, in site-packages.

In [2]:
%%cypher
CREATE (n1:Pessoa {nome_completo:'Matheus Mota', primeiro_nome:'Matheus'})-[r1:DEU_LIKE]->(movie1:Filme {titulo:'Django', ano:2009})
RETURN n1,r1,movie1

Contains updates: True
Labels added: 2
Nodes created: 2
Properties set: 4
Relationships created: 1

,n1,r1,movie1
0,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","({'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})","{'ano': 2009, 'titulo': 'Django'}"

In [3]:
# from yfiles_jupyter_graphs_for_neo4j import Neo4jGraphWidget
# from neo4j import GraphDatabase
# import pandas as pd
# from yfiles_jupyter_graphs import GraphWidget
# from IPython.core.magic import (register_line_magic,
#                                 register_cell_magic)
# pd.set_option('display.max_colwidth', None)

# driver = GraphDatabase.driver(uri = "neo4j://localhost")
# query_graph_result = driver.session().run("create (a)-[r:qqcoisa]->(b) return a")

In [4]:
%%cypher graph
match (a)-[r]-(b)
return a,r,b

GraphWidget(layout=Layout(height='800px', width='100%'))

In [5]:
%%cypher
CREATE (person1:Person:Teste {name:'Asdrubal'})-[r:conhece]->
       (person2:Person {name:'Marcos'}   )
return person1, person2,r

Contains updates: True
Labels added: 3
Nodes created: 2
Properties set: 2
Relationships created: 1

,person1,person2,r
0,{'name': 'Asdrubal'},{'name': 'Marcos'},"({'name': 'Asdrubal'}, conhece, {'name': 'Marcos'})"

### Criando nós e visualizando resultado

In [6]:
%%cypher graph
CREATE (node1:TipoA {propriedade1:'valor1', propriedade2:'valor2', label:'meu primeiro nó'})       
return node1

Contains updates: True
Labels added: 1
Nodes created: 1
Properties set: 3

GraphWidget(layout=Layout(height='500px', width='100%'))

In [7]:
%%cypher
CREATE (node1:Pessoa {nome:'Fulano Silva', profissao:'Professor', label:'Prof. Fulano'})

Contains updates: True
Labels added: 1
Nodes created: 1
Properties set: 3

Empty DataFrame
Columns: []
Index: []

In [8]:
%%cypher
CREATE (node1:Pessoa {nome:'Cicrano Junior', profissao:'Engenheiro de dados', label:'Eng. Cicrano'})

Contains updates: True
Labels added: 1
Nodes created: 1
Properties set: 3

Empty DataFrame
Columns: []
Index: []

### Criando relacionamentos (Arestas)

In [9]:
%%cypher
CREATE (person1:Pessoa {nome:'Matheus Mota', label:'Matheus'})-[:DEU_LIKE]->(movie1:Filme {titulo:'Django', ano:2009, label:'Django'})

Contains updates: True
Labels added: 2
Nodes created: 2
Properties set: 5
Relationships created: 1

Empty DataFrame
Columns: []
Index: []

In [10]:
%%cypher
CREATE (person1:Pessoa {nome:'Laura Lero', label:'Laura'})-[:DEU_DESLIKE]->(movie1:Filme {titulo:'The Matrix', ano:1999, label:'Matrix'})

Contains updates: True
Labels added: 2
Nodes created: 2
Properties set: 5
Relationships created: 1

Empty DataFrame
Columns: []
Index: []

### Ligando dois nós já existentes

In [11]:
%%cypher
MATCH (node_pessoa:Pessoa), (node_filme:Filme)
WHERE  node_pessoa.nome = 'Laura Lero' AND  node_filme.titulo = 'Django'
CREATE (node_pessoa)-[r:DEU_LIKE]->(node_filme)
RETURN node_pessoa, node_filme, r

Contains updates: True
Relationships created: 15

,node_pessoa,node_filme,r
0,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
1,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
2,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
3,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
4,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
5,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
6,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
7,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
8,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
9,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
10,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
11,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
12,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
13,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django'})"
14,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django', 'label': 'Django'}","({'nome': 'Laura Lero', 'label': 'Laura'}, DEU_LIKE, {'ano': 2009, 'titulo': 'Django', 'label': 'Django'})"

### Querying

In [12]:
%%cypher
MATCH (node_pessoa:Pessoa)-[:DEU_LIKE]->(node_filme:Filme)
RETURN node_pessoa, node_filme

,node_pessoa,node_filme
0,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
1,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
2,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
3,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
4,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
5,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
6,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
7,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
8,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
9,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
10,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
11,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
12,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
13,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
14,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
15,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
16,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
17,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
18,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
19,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
20,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
21,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
22,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
23,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
24,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
25,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
26,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django'}"
27,"{'primeiro_nome': 'Matheus', 'nome_completo': 'Matheus Mota'}","{'ano': 2009, 'titulo': 'Django'}"
28,"{'nome': 'Laura Lero', 'label': 'Laura'}","{'ano': 2009, 'titulo': 'Django', 'label': 'Django'}"
29,"{'nome': 'Matheus Mota', 'label': 'Matheus'}","{'ano': 2009, 'titulo': 'Django', 'label': 'Django'}"

In [13]:
%%cypher
MATCH (node_pessoa:Pessoa)-[:DEU_LIKE]->(node_filme:Filme)
WHERE  node_filme.titulo = 'Django'
RETURN node_pessoa.nome as nome_usuario, node_filme.titulo

    nome_usuario node_filme.titulo
0     Laura Lero            Django
1           None            Django
2     Laura Lero            Django
3           None            Django
4     Laura Lero            Django
5           None            Django
6     Laura Lero            Django
7           None            Django
8     Laura Lero            Django
9           None            Django
10    Laura Lero            Django
11          None            Django
12    Laura Lero            Django
13          None            Django
14    Laura Lero            Django
15          None            Django
16    Laura Lero            Django
17          None            Django
18    Laura Lero            Django
19          None            Django
20    Laura Lero            Django
21          None            Django
22    Laura Lero            Django
23          None            Django
24    Laura Lero            Django
25          None            Django
26    Laura Lero            Django
27          None            Django
28    Laura Lero            Django
29  Matheus Mota            Django